:root {
    /* Primary Colors */
    
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* Neutral Colors */

    --VDBMainBG: hsl(217, 54%, 11%);
    --VDBCardBG: hsl(216, 50%, 16%);
    --VDBLine: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    /* Fonts */
    --Outfit: 'Outfit', sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h1:hover {
    cursor: pointer;
    color: var(--Cyan);
}

body {
    background-color: var(--VDBMainBG);
    font-family: var(--Outfit);
    display: grid;
    min-height: 100vh;
    place-content: center;
}

.container {
    background-color: var(--VDBCardBG);
    padding: 1.5rem;
    border-radius: 1.5rem;
    display: grid;
    max-width: 375px; /* Updated width to 100% */
    box-shadow: 1rem 2rem 6px var(--VDBMainBG), 1rem 2rem 3rem var(--VDBCardBG); 
    margin: 0 auto; 

}

.title {
    color: var(--White);
}

.information {
    color: var(--SoftBlue);
    

}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.image-wrapper {
    position: relative;
    display: inline-block;
  }
  
.image-wrapper img {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
}

.image-wrapper:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 255, 222, 0.5);
    background-image: url("images/icon-view.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    cursor: pointer;
}

.value {
    color: var(--Cyan);
    
}

.days-left {
    color: var(--SoftBlue);
}

.author {
    border-top: 0.1rem solid var(--VDBLine);
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    
}

.author p {
    color: var(--SoftBlue);
}

.author em {
    color: var(--White);
}

.author em:hover {
    cursor: pointer;
    color: var(--Cyan);
}

img.author {
    padding: 0rem;
    border: 0.1rem solid white;
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    border-color: var(--White);
 
}